# =========================
# Данные бота
# =========================

admins.json
*.json

# =========================
# Переменные окружения
# =========================

.env

# =========================
# Логи
# =========================

logs/
*.log

# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Виртуальное окружение
# =========================

venv/
env/
.venv/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Системные файлы
# =========================

.DS_Store
Thumbs.db
